<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcitye_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GuildActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AppHomeActivity" />
        <activity android:name=".activity.EmptyActivity" />
        <activity android:name=".activity.MotifImageActivity" />
        <activity android:name=".activity.OrderDetailsActivity" />
        <activity android:name=".activity.HdDetailsActivity" />
        <activity android:name=".activity.CarInfoAcvitiy" />

        <activity android:name=".activity.YjfkActivity" />
        <activity android:name=".activity.WzDetailsActivity" />
        <activity android:name=".activity.Dzbc4Activity" />
        <activity android:name=".activity.Dzbc3Activity" />
        <activity android:name=".activity.Dzbc2Activity" />
        <activity android:name=".activity.DzbcActivity" />
        <activity android:name=".activity.MyOderActivity" />
        <activity android:name=".activity.SearchNewList" />
        <activity android:name=".activity.WyfwActivity" />
        <activity android:name=".activity.FwxqActivity" />
        <activity android:name=".activity.YjfkActivity2" />
        <activity android:name=".activity.SqtbActivity" />
        <activity android:name=".activity.SqdtdetailsActivity" />
        <activity android:name=".activity.Fypjactivity" />
        <activity android:name=".activity.KjflImageActivity" />
        <activity android:name=".activity.TbDetalisActivity" />
        <activity android:name=".activity.KjglActivity" />
        <activity android:name=".activity.FbTbActivty" />
        <activity android:name=".activity.SytgActivity" />
        <activity android:name=".activity.SytgDetailsActivity" />
        <activity android:name=".activity.YjfkActivity3" />
        <activity android:name=".activity.CarManagerActivity" />

        <activity android:name=".activity.AddCarMagaerActivity" />

    </application>

</manifest>